# Pliki budowania i IDE
build/
build-*/
.user
CMakeCache.txt
CMakeFiles/

# Ignorujemy tylko główny folder dist projektu (z ukośnikiem na początku)
/dist/

# Ignorujemy tylko folder budowania Verovio, pozwalając śledzić kod i nagłówki
verovio-develop/build/
